#card-question {
    text-align: center;
    font-size: 27px;
}

#concept1 {
    font-size: 25px;
    border-radius: 3px;
    width: 100px;
}

#cont {
    display: flex;
    justify-content: space-around;
}

#definition {
    width: 400px;
    word-wrap: break-word;
}